In [5]:
!pip install pandas
import pandas as pd
hospitalCost=pd.read_csv('HospitalDataset/HospitalCosts.csv')
hospitalCost

Requirement already satisfied: pandas in c:\users\boluw\appdata\local\programs\python\python311\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\boluw\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\boluw\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\boluw\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\boluw\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

     AGE  FEMALE  LOS  RACE  TOTCHG  APRDRG
0     17       1    2   1.0    2660     560
1     17       0    2   1.0    1689     753
2     17       1    7   1.0   20060     930
3     17       1    1   1.0     736     758
4     17       1    1   1.0    1194     754
..   ...     ...  ...   ...     ...     ...
495    0       1    6   1.0    5881     636
496    0       1    2   1.0    1171     640
497    0       1    2   1.0    1171     640
498    0       1    2   1.0    1086     640
499    0       0    4   1.0    4931     640

[500 rows x 6 columns]

In [6]:
hospitalCost.shape

(500, 6)

In [7]:
hospitalCost.columns

Index(['AGE', 'FEMALE', 'LOS', 'RACE', 'TOTCHG', 'APRDRG'], dtype='object')

In [8]:
!pip install numpy
import numpy as np
hospitalCost.select_dtypes(np.number)

Requirement already satisfied: numpy in c:\users\boluw\appdata\local\programs\python\python311\lib\site-packages (1.24.2)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

     AGE  FEMALE  LOS  RACE  TOTCHG  APRDRG
0     17       1    2   1.0    2660     560
1     17       0    2   1.0    1689     753
2     17       1    7   1.0   20060     930
3     17       1    1   1.0     736     758
4     17       1    1   1.0    1194     754
..   ...     ...  ...   ...     ...     ...
495    0       1    6   1.0    5881     636
496    0       1    2   1.0    1171     640
497    0       1    2   1.0    1171     640
498    0       1    2   1.0    1086     640
499    0       0    4   1.0    4931     640

[500 rows x 6 columns]